<!DOCTYPE html>
<html>
<head>
  <title>My Homepage</title>
  <style>
  
  </style>
  <link rel="stylesheets" href="home.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="header-center">About Me</div>
    </div>
  </header>
  <div class="container">
    <div class="skill">
      <%= image_tag 'github.jpg', alt: 'GitHub Picture', class: "skill-image" %>
      <div class="skill-text">a</div>
    </div>
    <div class="skill">
      <%= image_tag 'html.jpg', alt: 'HTML Picture', class: "skill-image" %>
      <div class="skill-text">i</div>
    </div>
    <div class="skill">
      <%= image_tag 'css.jpg', alt: 'CSS Picture', class: "skill-image" %>
      <div class="skill-text">u</div>
    </div>
    <div class="skill">
      <%= image_tag 'ruby.jpg', alt: 'Ruby Picture', class: "skill-image" %>
      <div class="skill-text">e</div>
    </div>
    <div class="skill">
      <%= image_tag 'php.jpg', alt: 'PHP Picture', class: "skill-image" %>
      <div class="skill-text">o</div>
    </div>
  </div>                                      
  



</body>
</html>
